<div class="container-fluid" style="min-height: 100%; margin-top: 50px;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-7 col-md-8 col-sm-6" style="margin-top: 50px; ">
            <h2 style="font-weight: 700;font-size: 40px; text-align: center;">Welcome to Accessories Order!!!</h2> <hr>
        </div>
 
    </div>

    <!--Container for Accessories card-->
    <div>
           <!--Search Bar -->
           <div class="form-group search-div">
            <input class="form-control accessories-search-input" type="text" [(ngModel)]="accessoriesSearch" style="height: auto;" placeholder="Search the Accessory Name">
        </div>
      <br/>
        <!--Card for Accessory in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let accessories of accessoryList | accessoryfilter:accessoriesSearch">
              <div class="card cardStyle accessories-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-10"></div>
                        <mat-icon (click)="onDeleteAccessory(accessories)">delete</mat-icon>
                      </div>
                      <div class="row">
                      <h3 class="card-text font-style">Accessory Name :&nbsp;{{accessories.accessoryName}}</h3>
                    </div>
                    <div class="row">
                      <h4 class="card-text font-style">Car Name :&nbsp;{{accessories.carName}}</h4>
                    </div> 
                    <div class="row">
                      <h4 class="card-text font-style">Model :&nbsp;{{accessories.model}}</h4>
                    </div> 
                    <div class="row">
                      <h4 class="card-text font-style">Quantity :&nbsp;{{accessories.qty}}</h4>
                    </div> 
                    <div class="row">
                      <h4 class="card-text font-style">Price :&nbsp;{{accessories.price}}</h4>
                    </div> 
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
console.log("document is ready");
  $( ".card" ).hover(
  function() {
    $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
  }, function() {
    $(this).removeClass('shadow-lg');
  }
);
});
</script>
