<div class="container py-5">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-lg-6 col-xl-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h4 class="mb-0">Login</h4>
                </div>
                <form class="customForm needs-validation" [formGroup]="otpForm" id="loginForm" novalidate=""
                    *ngIf="!showLoginForm">

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <input type="password" name="otp" id="otp" placeholder="OTP" class="form-control"
                            formControlName="otp">
                        <div *ngIf="(otpForm.get('otp').invalid && onInit) || 
                            (otpForm.get('otp').invalid && (otpForm.get('otp').dirty ||
                            otpForm.get('otp').touched))" class="alert alert-danger">

                            <div *ngIf="otpForm.get('otp').errors.required">
                                OTP can't be empty
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-3 col-sm-3 col-lg-3 col-xl-3">
                        <button type="submit" class="btn btn-info btn-sm" id="btnLogin"
                            (click)="validateOTP()">validateOTP</button>
                    </div>

                </form>
                <form class="customForm needs-validation" [formGroup]="loginForm" id="loginForm" novalidate=""
                    *ngIf="showLoginForm">

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">

                        <input type="email" name="username" id="username" placeholder="Email" class="form-control"
                            formControlName="username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <div *ngIf="(loginForm.get('username').invalid && onInit) || 
                            (loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                                  loginForm.get('username').touched))" class="alert alert-danger">
                            <div *ngIf="loginForm.get('username').errors.required">
                                Please provide Email address
                            </div>
                            <div *ngIf="loginForm.get('username').errors.pattern">
                                Please provide correct Email address
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">

                        <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password">
                        <div *ngIf="(loginForm.get('password').invalid && onInit) || 
                            (loginForm.get('password').invalid && (loginForm.get('password').dirty ||
                                  loginForm.get('password').touched))" class="alert alert-danger">

                            <div *ngIf="loginForm.get('password').errors.required">
                                Password can't be empty
                            </div>
                            <div *ngIf="loginForm.get('password').errors.maxlength">
                                Password can be maximum of 20 characters.
                            </div>
                            <div *ngIf="loginForm.get('password').errors.minlength">
                                Password must be at least 6 characters long.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-md-3 col-sm-3 col-lg-3 col-xl-3">
                            <button type="submit" class="btn btn-info btn-sm" id="btnLogin"
                                (click)="onLogin()">Login</button>

                        </div>
                        <div class=" col-md-3 col-sm-3 col-lg-3 col-xl-3">

                            <button type="submit" class="btn btn-dark btn-sm" id="btnLogin"
                                (click)="onRegister()">Register</button>


                        </div>
                    </div>
                </form>

                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>